body {
    font-family: Google Sans, Arial, sans-serif;
    font-size: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10% 10%;
}
.text {
    font-family: Google Sans, Arial, sans-serif;
    filter: blur(0);
}
.img {
    height: 92px;
    width: 272px;
    margin: auto;
}

.space4 {
    width: 0;
    height: 50px;
    padding-right: 5px;
}

.main {
    width: 678px;
    height: 50px;
    border: #ccc 1px solid;
    border-radius: 50px;
    margin: 20px;
    font-family: inherit;
    font-size: 16px;
    padding-right: 8px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc;
    box-shadow: #cccccc 1px 1px 2px;
}

.main:hover {
    box-shadow: #cccccc 1px 1px 5px;
    width: 678px;
}

.icon-wrapper {
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 13px;
    padding-left: 14px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.input {

    line-height: 22px;
    resize: none;
    width: 420px;
    height: 28px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.btn-wpr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 34px;
    font-family: Google Sans, Arial, sans-serif;
    padding: 0 16px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: lighter;
    margin: 0 5px;
    color: #3c4043
}

.btn:hover {
    border: 1px solid #ccc;
    padding: 0 15px;
    box-shadow: #dfdfdf 0 1px 1px;
}

.border {
    border: 1px solid #ccc;
}

.ai-btn {
    backdrop-filter: blur(50px);
    height: 36px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    padding: 0 8px;
    color: #3c4043;
    background-color: transparent;
    resize: none;
}

.ai-btn-wrapper {

    height: 36px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    color: #3c4043;
    background-color: #fff;
    resize: none;
}
.ai-btn-wrapper:hover {
    height: 36px;
    width: 99px;
    background: transparent;
    border: inset 1.5px transparent;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(
            45deg,rgba(219, 68, 55, 1)
            0%, rgba(66, 133, 244, 1)
            25%, rgba(244, 180, 0, 1)
            50%, rgba(15, 157, 88, 1)
            75%, rgba(219, 68, 55, 1)
            100%) border-box;
}


.ai-icon {
    padding: 3px;
}



/*    inset 5px 0px 1px -1px rgba(219, 68, 55, 1),
    inset 0px 5px 1px -1px rgba(66, 133, 244, 1),
    inset -5px 0px 1px -1px rgba(244, 180, 0, 1),
    inset 0px -5px 1px -1px rgba(15, 157, 88, 1);
5 0
5 5
0 5
-5 5
-5 0
-5 -5
0 -5
0 0
 */